<form method="post" action="{{ path('app_admin_account_delete', {'id': user.id}) }}" onsubmit="return confirm('C\'est votre dernier choix ?');">
    <button class="btn btn-danger">Delete</button>
</form>
