<form method="post" action="{{ path('app_account_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-danger">Delete</button>
</form>
