{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
{% include 'partials/_header-index.twig' %}
{% endblock %}

{% block body %}

    <section class="background">
        <div class="container spacer">
            <div class="col-12 d-flex box">
                <div class="d-none d-lg-flex col col-lg-6 d-flex justify-content-around">
                    <div class="col col-lg-2 text-center">
                        <img src="https://minotar.net/avatar/Hilllwalk/100" alt="HillWalk" class="mt-5">
                        <p class="small pt-2">HillWalk</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <img src="https://minotar.net/avatar/PriestEsdras/100" alt="PriestEsdras" class="mt-5">
                        <p class="small pt-2">PriestEsdras</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <img src="https://minotar.net/avatar/roi_julian/100" alt="Roi_julian" class="mt-5">
                        <p class="small pt-2">Roi Julian</p>
                    </div>
                </div>
                <div class="col d-flex flex-row justify-content-center align-items-center border-start">
                    <div class="col-10 text-center pt-5 pb-5">
                        <form class="d-flex" role="search" action="{{ path('app_store_search') }}" method="get">
                            <input class="form-control me-2" type="search" placeholder="{% trans %}Index.to.placeholder.search{% endtrans %}" aria-label="Search" name="search">
                            <button class="btn btn-outline-success" type="submit">{% trans %}Index.to.search{% endtrans %}</button>
                        </form>
                        <p class="small pt-5">{% trans %}Index.to.index{% endtrans %}<b><a href="#">{% trans %}Index.to.rules{% endtrans %}</a></b></p>
                        <div class="col-12 d-grid">
                            <a href="{{ path('app_store') }}" class="btn btn-primary text-justify">
                                <i class="fa-solid fa-store"></i> {% trans %}Index.to.store{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
