<form method="post" class="needConfirm" action="{{ path('app_store_delete', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
